<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-custom-notification" version="1.0.0">
    <name>Custom Notification</name>
    <description>Cordova plugin that enables a custom notification sound for Android in the OutSystems Platform</description>
    <author>Armando Gomes</author>
    <license>Apache 2.0</license>
    <keywords>cordova,android,notification,sound</keywords>

    <engines>
        <engine name="cordova" version=">=6.0.0" />
    </engines>

    <js-module src="www/CustomNotification.js" name="CustomNotification">
        <clobbers target="plugins.CustomNotification" />
    </js-module>

    <platform name='android'>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CustomNotification">
                <param name="android-package" value="com.armandogomes.cordova.plugin.CustomNotification"/>
            </feature>
        </config-file>

        <source-file src="src/android/CustomNotification.java" target-dir="src/com/armandogomes/cordova/plugin" />
        <hook type="after_plugin_install" src="hooks/after_plugin_install_MoveBeep.js" />
        <hook type="before_prepare" src="hooks/before_build_MoveBeep.js" />
    </platform>
</plugin>
